<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')}}
  {{css('./index.css')}}
  <title>發票兌獎</title>
  {{css('./footer_icon.css')}}
</head>
<body>
  @include('layout/normalUser/navbar')

  <div class="container-fluid" style="padding:0px">
    @!section('content')

    <div style="height:50px"></div>

    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2" id="trackingaudrey">追蹤AUDREY奧黛莉</div>
      <div class="col-sm-5"></div>      
    </div>
     <div style="height:50px"></div>



<div class="wrp">
  <a class="icon icon-twitter" href="https://zh-tw.facebook.com/twaudrey/" target="_blank">
    <img class="fa fa-twitter" src="./img/new/fb@2x.png" alt="">
  </a>
  <a class="icon icon-facebook" href="https://www.instagram.com/audrey_lingerie_tw/" target="_blank">
    <img class="fa fa-facebook" src="./img/new/ig@2x.png" alt="">
  </a>
  <a class="icon icon-instagram" href="https://www.youtube.com/user/autw100"  target="_blank">
    <img class="fa fa-instagram" src="./img/new/youtube@2x.png" alt="">
  </a>
</div>

</div>


  @include('layout/normalUser/footer')
  </div>

  {{ script('https://cdn.jsdelivr.net/npm/vue/dist/vue.js')}}
  {{ script('https://code.jquery.com/jquery-3.2.1.slim.min.js') }} 
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')}}
  {{ script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}

<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>    
<link rel="stylesheet" href="./lib/jquery-ui.min.css">
<link rel="stylesheet" href="./lib/jquery-ui.theme.min.css">
<script src="./lib/jquery-ui.min.js"></script>
<script src="./lib/datepickerTW.js"></script>

{{--  月曆元件  --}}
<script type="text/javascript">
  $(function () {
    var minDate = moment().add(3,'days');
    var maxDate;
    //限制只能選擇3天候
    $('#date1').datepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-cn'),
        inline: true,
        sideBySide: true,
        keepOpen: true,

        numberOfMonths: 2
    
    });
    $('#date1').datepicker('show');


  })
</script>
</body>
</html>