<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  {{css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')}} 
  {{css('./index.css')}}
  <title>發票兌獎</title>
  {{css('./footer_icon.css')}}
  <style>
.row {  
    margin-left: -15px;  
    margin-right: -15px;  
}  
.container-fluid {  
    margin-left: auto;  
    margin-right: auto;  
    padding-left: 15px;  
    padding-right: 15px;  
}  
body{
      overflow-x: hidden;
}
  
  </style>
</head>

<body>
  @include('layout/normalUser/navbar')

  <div class="container-fluid" style="padding:0px">
    @!section('content')

    <div style="height:50px"></div>

    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2" id="trackingaudrey">追蹤Audrey奧黛莉</div>
      <div class="col-sm-5"></div>
    </div>
    <div style="height:30px"></div>



    <div class="wrp">
      <a class="icon icon-twitter" href="https://zh-tw.facebook.com/twaudrey/" target="_blank">
        <img class="fa fa-twitter" src="./img/new/fb@2x.png" alt="">
      </a>
      <a class="icon icon-facebook" href="https://www.instagram.com/audrey_lingerie_tw/" target="_blank">
        <img class="fa fa-facebook" src="./img/new/ig@2x.png" alt="">
      </a>
      <a class="icon icon-instagram" href="https://www.youtube.com/user/autw100" target="_blank">
        <img class="fa fa-instagram" src="./img/new/youtube@2x.png" alt="">
      </a>
    </div>

  </div>
    @include('layout/normalUser/footer')

  </div>


  {{ script('https://cdn.jsdelivr.net/npm/vue/dist/vue.js')}}
  {{ script('https://code.jquery.com/jquery-3.2.1.slim.min.js') }} 
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')}}
  {{ script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}


<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>    
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">    
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/af.js"></script>
{{--  月曆元件  --}}
<script type="text/javascript">
  $(function () {
    var minDate = moment().add(3,'days');
    var maxDate = moment("2018-07-01");
    //限制只能選擇3天候
    $('#date1').datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-cn'),
        inline: true,
        sideBySide: true,
        keepOpen: true,
        minDate: minDate,
        maxDate: maxDate,    
    });
    $('#date1').datetimepicker('show');


const StoreAndTime_len = $("#invisible_storetime").children().length;
var StoreAndTime_time = [];
var StoreAndTime_store = [];
for(let x=0;x< StoreAndTime_len;x++){
  StoreAndTime_store[x] = $("#invisible_storetime option").eq(x).val();
  StoreAndTime_time[x] = $("#invisible_storetime option").eq(x).text();
}

$("#store_id").change(function(){

  var store = $("#store_id").val()-1;
  //time = 12 時
  if(StoreAndTime_time[store] == 12){
    	$('#date1').datetimepicker('destroy');
        var disable_date =  [
          moment("2018-05-18"),
          moment("2018-05-20"),        
        ] 
    $('#date1').datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-cn'),
        inline: true,
        sideBySide: true,
        keepOpen: true,
        minDate:  moment("2018-06-11"),
        maxDate:  moment("2018-06-18"),     
        //disabledDates: disable_date
    });
    $('#date1').datetimepicker('show');
  }
  else if(StoreAndTime_time[store] == 11){
    	$('#date1').datetimepicker('destroy');
        var disable_date =  [
          moment("2018-06-15"),
        ] 
    $('#date1').datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-cn'),
        inline: true,
        sideBySide: true,
        keepOpen: true,
        minDate:  moment("2018-06-10"),
        maxDate:  moment("2018-06-18"),     
        disabledDates: disable_date
    });
    $('#date1').datetimepicker('show');
  }

  else{
    	$('#date1').datetimepicker('destroy');
        var minDate = moment().add(3,'days');
      $('#date1').datetimepicker({
      format: 'YYYY-MM-DD',
      locale: moment.locale('zh-cn'),
        inline: true,
        sideBySide: true,
        keepOpen: true,
        minDate: minDate, 
        maxDate: maxDate
    });
    $('#date1').datetimepicker('show');
  }
})

});

</script>
</body>
</html>